.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-right {
    flex: 1;
    text-align: right;
  }
  
  .company-logo {
    width: 50px;
    height: 50px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: black;
  }
  
  .navbar-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .profile-logo {
    width: 40px;
    height: 40px;
  }
  
  .fa {
    font-size: 24px;
    margin-right: 10px;
  }
  